/* 全局樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 滑動流暢 */
html, body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 容器設定：讓 footer 能固定在底部 */
#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('picture/DSCF3636.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

/* 頁首 */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    margin-left: 5%;
    gap: 20px;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
}

/* 主要內容區 */
main {
    flex: 1;
    width: 100%;
    margin-top: 50px;
    box-sizing: border-box;
    overflow: auto;
}

/* 讓不同 section 可以調整大小 */
.page-content {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    text-align: center;
    padding-top: 50px;
    z-index: 2;
}

/* 隱藏的 section */
.hidden {
    display: none;
}

/* About Page */
#about {
    color: #f4f4f4;
    padding: 0 50px;
    padding-bottom: 30px;
}

#about h2 {
    text-align: left;
}

#about p {
    text-align: justify;
}

.icon_box {
    margin-top: 20px;
    height: 70px;
    display: flex;
    gap: 15px;
}

.icon {
    width: 70px;
    height: 70px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text_title {
    margin-top: 20px;
}

.list {
    text-align: left;
    margin-top: 10px;
}

.list h3 {
    font-size: 15px;
}

/* Portfolio Page */
#portfolio {
    color: #f4f4f4;
    margin-top: -15px;
}

/* #portfolio h2{
    padding-top: -100px;
} */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.project {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    margin-top: 10px;
    position: relative;
    text-align: center;
}

@media (max-width: 450px) {
    .project {
        aspect-ratio: auto;
        height: auto;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .icon {
        width: 30px;
        height: 30px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .icon img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    transition: filter 0.3s ease-in-out;
}

.project img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.855);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

.project:hover {
    transform: scale(1.05);
}

.project:hover::after {
    opacity: 1;
}

.project .work-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 2;
}

.project:hover .work-name {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

/* 作品集細節頁 */
#work-details {
    color: #f4f4f4;
    max-width: 100%;
    padding: 0 30px;
    position: relative;
}

#work-bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.532);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    z-index: -1;
}

#work-details p {
    margin-top: 10px;
}

#work-details h1 {
    font-size: 20px;
}

#work-details h3 {
    margin-top: 10px;
    font-size: 18px;
    text-align: justify;
}

#work-details button {
    margin-top: 10px;
    margin-bottom: 50px;
}

.work-title {
    padding-top: 100px;
    text-align: center;
    font-size: 62px;
}

.box {
    display: flex;
    gap: 20px;
    flex: 1;
    border-radius: 10px;
    color: white;
    margin-top: 40px;
}

.text_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
}

.img {
    width: 70%;
}

.img img {
    display: block;
    max-width: 100%;
    height: auto;
}

.img1 img {
    display: block;
    max-width: 100%;
    height: 100%;
}

/* Contact Page */
#contact {
    width: 100%;
    height: auto;
}

.contact-bg {
    background-color: rgba(0, 0, 0, 0.44);
    width: 100%;
    height: 200px;
    backdrop-filter: blur(5px);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#contact h2 {
    margin: 0;
    color: #f4f4f4;
}

#contact p {
    color: #f4f4f4;
    margin: 5px 0;
    text-align: center;
}

/* 頁腳 */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    height: 90px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
}

.social-icon {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #0073e6;
}
