/* 全局樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 滑動流暢 */
html, body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('picture/DSCF3636.JPG') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

/* 容器設定 */
#container {
    display: flex;
    flex-direction: column;
    height: calc(var(--vh, 1vh) * 100);
    font-family: Arial, sans-serif;
    background-image: url('picture/DSCF3636.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

/* 頁首 */
header {
    background-color: #0000007a;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    margin-left: 5%;
    gap: 20px;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
}

/* 主要內容區 */
main {
    flex: 1;
    width: 100%;
    margin-top: 60px;
    box-sizing: border-box;
    overflow: auto;
}

.page-content {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    text-align: center;
    padding-top: 50px;
    z-index: 2;
}

.hidden {
    display: none;
}

/* Home Page */
#home {
    padding: 0;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}

.about-wrapper1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto; 
}


.home-bgl {
    container-type: inline-size;
    container-name: bgl;
    background-color: #ffffff43;
    width: 30%;
    height: 2080px;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 1%;
}

.home-bgl img{
    padding-left: 5%;
    width: 50%;
    /* height: 100%; */
    /* 保持圖片比例，填滿容器，可能會裁切部分圖片 */
    /* object-fit: cover;  */

}

.title1 {
    padding-top: 10%;
    padding-left: 5%;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url('picture/DSCF3636.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    font-weight:bold;
    /* 預設大小，容器不支援時用這個 */
    font-size: 24px; 
    color: transparent;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    z-index: 3;

    -webkit-text-stroke: 2px #ffffff;
    padding-right: 20px;
    
    
}

.title-text {
    color: #ffffff;
    text-align: justify;
    z-index: 1;
    /* height: auto; */
    padding-left: 5%;
}

.text_title, .text_about_me {
    /* padding-left: 40px; */
    padding-right: 10%;
}

.text_about_me {
    padding-top: 10px;
}


/* About Icon */
.home-bgl-icon-box {
    margin-top: 20px;
    padding-left: 5%;
    height: 70px;
    width: 400px;
    display: flex;
    gap: 15px;
}

.icon {
    width: 70px;
    height: 70px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home-bgr {
    display: flex;
    background-color: #000000;
    width: 70%;
    height: 2080px;
    flex-direction: column;
    padding-right: 5%;
}

.home-bgr-title1 {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url('picture/DSCF3636.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    font-weight: bold;
    font-size: clamp(48px, 10vw, 180px);
    color: transparent;
    text-align: left;
    
    width: 100%;
    box-sizing: border-box;
    z-index: 3; 

    -webkit-text-stroke: 2px #f4f4f4;
}

.home-bgr-t1 {
    display: flex;
    height: auto;
    /* padding-top: 200px; */
}

.home-bgr-p1 {
    display: flex;
    /* 水平置中 */
    justify-content: center;     
    /* 垂直置中 */
    align-items: center;         
    width: 500px;
    /* 或設定為特定高度，例如 300px */
    height: auto; 
}



.home-bgr-main {
    height: auto;
    width: 100%;
    /* background-color: #0574e37d; */
}

.home-bgr-main-work {
    color: #f4f4f4;
    text-align: right;
    
}

.home-bgr-main-work h3 {
    color: rgb(255, 255, 0);
    text-decoration: underline;
    font-weight: 900;
    font-size: 30px;
    
}

.home-bgr-main-work li {
    list-style: none;
    font-size: 18px;
}

.home-bgr-main-work .first {
    /* 貼齊頂部 */
    padding-top: 0;     
}

.home-bgr-main-work .spaced {
    /* 貼齊頂部 */
    padding-top: 50px;     
}


.home-bgr-title2 {
    padding-top: 4%;
    -webkit-background-clip: text;
    background-clip: text;
    /* ← 路徑依你的專案調整 */
    background-image: url('../picture/DSCF3636.JPG'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* 建議先關掉 fixed 測試 */
    background-attachment: fixed; 

    font-weight: bold;
    /* 先固定測試 */
    font-size: 180px; 
    color: transparent;

    text-align: right;
    width: 100%;
    box-sizing: border-box;

    -webkit-text-stroke: 2px #f4f4f4;
        
}
.home-bgr-t2 {
    height: auto;
    padding-left: 10px;
    /* display: flex; */
}

.home-bgr-title3 {
    margin-left: 0px;
    margin-top: 100px;
    -webkit-background-clip: text;
    background-clip: text;
    /* ← 路徑依你的專案調整 */
    background-image: url('../picture/DSCF3636.JPG'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* 建議先關掉 fixed 測試 */
    background-attachment: fixed; 

    font-weight: bold;
    /* 先固定測試 */
    font-size: 180px; 
    color: transparent;

    text-align: left;
    width: 100%;
    box-sizing: border-box;
    

    -webkit-text-stroke: 2px #f4f4f4;
        
}

.home-bgr-p2 {
    display: flex;
    flex-wrap: nowrap;           /* 防止換行 */
    overflow-x: auto;            /* 啟用水平滾動 */
    -webkit-overflow-scrolling: touch; /* 提升 iOS 上的滾動體驗 */
    gap: 16px;                   /* 圖片之間的間距，可根據需要調整 */
    padding: 8px;                /* 內邊距，可根據需要調整 */
    width: 100%;                 /* 讓容器寬度自適應 */
    box-sizing: border-box;      /* 包含內邊距和邊框在內的寬度計算 */

    /* 自訂捲軸樣式 */
    scrollbar-width:none; /* Firefox */
    scrollbar-color: #888 #f1f1f1; /* Firefox */
    
}

.home-bgr-p2 img {
    flex: 0 0 auto;              /* 防止圖片縮放 */
    width: auto;                 /* 根據圖片原始寬度顯示 */
    height: 500px;               /* 設定固定高度，可根據需要調整 */
    object-fit: cover;           /* 保持圖片比例並填滿容器 */
    border-radius: 8px;          /* 圓角效果，可根據需要調整 */
}






/* About Page */
#about {
    color: #f4f4f4;
    padding: 0 50px 30px 50px;
    text-align: center;
}

.about-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0 1%;
    box-sizing: border-box;
    gap: 20px;
}

.left, .center, .right {
    padding: 10px;
    border-radius: 10px;
    color: white;
    line-height: 30px;
}

.left {
    width: 400px;
    background-color: #0073e6;
    padding-left: 0px;
    text-align: justify;
}

.center {
    width: 550px;
    background-color: brown;
    text-align:justify;
}

.right {
    width: 400px;
    background-color: #365600;
}



.text_title {
    margin-top: 20px;
}

.list {
    text-align: left;
    margin-top: 10px;
}

.list h3 {
    font-size: 15px;
}

/* .clearfix {
    clear: both;
} */

/* Portfolio Page */
#portfolio {
    color: #f4f4f4;
    margin-top: -15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.project {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    margin-top: 10px;
    position: relative;
    text-align: center;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    transition: filter 0.3s ease-in-out;
}

.project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.855);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

.project:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

.project:hover::after {
    opacity: 1;
    transition: 1s ease-in-out;
}

.project .work-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 2;
}

.project:hover .work-name {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

/* 作品集細節頁 */
#work-details {
    color: #f4f4f4;
    max-width: 100%;
    padding: 0 30px;
    position: relative;
}

#work-bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.532);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    z-index: -1;
}

#work-details p {
    margin-top: 10px;
}

#work-details h1 {
    font-size: 20px;
}

#work-details h3 {
    margin-top: 10px;
    font-size: 18px;
    text-align: justify;
}

#work-details button {
    margin-top: 10px;
    margin-bottom: 50px;
}

.work-title {
    padding-top: 100px;
    text-align: center;
    font-size: 62px;
}

.box {
    display: flex;
    gap: 20px;
    flex: 1;
    border-radius: 10px;
    color: white;
    margin-top: 40px;
}

.text_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
}

.img {
    width: 70%;
}

.img img {
    display: block;
    max-width: 100%;
    height: auto;
}

.img1 img {
    display: block;
    max-width: 100%;
    height: 100%;
}

/* Contact Page */
#contact {
    width: 100%;
    height: auto;
}

.contact-bg {
    background-color: rgba(0, 0, 0, 0.44);
    width: 100%;
    height: 200px;
    backdrop-filter: blur(5px);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#contact h2 {
    margin: 0;
    color: #f4f4f4;
}

#contact p {
    color: #f4f4f4;
    margin: 5px 0;
    text-align: center;
}

/* 頁腳 */
footer {
    background-color: #00000062;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 80px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.social-icon {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #0073e6;
}

/* RWD for .about-wrapper */
@media (max-width: 768px) {
    .about-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .left, .center, .right {
        width: 90%;
    }

    .icon {
        width: 30px;
        height: 30px;
    }

    .icon img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


@container (min-width: 200px) {
  .title1 {
    font-size: clamp(24px, 25cqw, 200px);
  }

  .home-bgr-title1{
      font-size: clamp(24px, 25cqw, 130px);
  }
}


